<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Report</title>
</head>
<body>
    <div align="center" id="Report">
        @Html.Raw(TempData["Report"])
    </div>
</body>
</html>
